.App {
  display: flex;
  margin: 50px;
}

.containers {
  flex: 45%;
  border: 2px solid #ccc;
  padding: 50px;
  margin: 20px;
}

.containers span {
  display: block;
  margin-bottom: 40px;
  font-size: 30px;
  font-weight: bold;
}

input {
  display: block;
  margin-top: 20px;
  width: 100%;
  font-size: 20px;
}